.cache
.DS_Store
.idea

*.log
*.tgz
*.vsix

coverage
lib-cov
logs

dist
dist-webview
node_modules

temp*
package.nls.*

TODO.md
CHANGELOG-CODE.md

libvips-8.14.5-darwin-arm64v8.tar.br
sharp-v0.32.6-napi-v7-darwin-arm64.tar.gz
