.npmrc
.github
.gitignore
.gitattributes
.vscode
.turbo
.cache/**
.github/**

src
screenshots
test
locales
scripts
lib

index.html
temp*

eslint.config.js
commitlint.config.cjs
tsconfig.json
package-lock.json

TODO.md
CHANGELOG-CODE.md

*.yaml
**/*.ts
