.npmrc
.nvmrc
.github
.gitignore
.gitattributes
.vscode
.cache/**
.github/**
.idea

node_modules
src
screenshots
docs
test
locales
scripts
lib
examples
patches

index.html
temp*
temp/**

eslint.config.*
commitlint.config.*
taze.config.*
.tazerc.json
tsconfig.json
package-lock.json
renovate.json

TODO.md
CHANGELOG-CODE.md

*.yaml
**/*.ts
*.mts
