[data-theme='dark'] {
  --custom-contexify-menu-bgColor: rgba(55, 55, 55, 0.7);
}
[data-theme='light'] {
  --custom-contexify-menu-bgColor: rgba(200, 200, 200, 0.7);
}

.contexify {
  --contexify-menu-bgColor: var(--custom-contexify-menu-bgColor);
  --contexify-activeItem-color: var(--ant-color-text);
  --contexify-activeItem-bgColor: var(--ant-color-primary-hover);
  --contexify-separator-color: var(--ant-color-border);
  --contexify-menu-minWidth: 170px;
  --contexify-menu-padding: var(--ant-padding-xxs);
  --contexify-itemContent-padding: var(--ant-margin-xxs) var(--ant-padding-xxs);
  --contexify-separator-margin: var(--ant-margin-xxs);
  --contexify-menu-shadow: var(--ant-box-shadow-popover-arrow);
  --contexify-item-color: var(--ant-color-text);
  --contexify-zIndex: 9999;

  &::before {
    content: '';
    @apply absolute bottom-0 left-0 right-0 top-0 rounded-[var(--contexify-menu-radius)] bg-[var(--contexify-menu-bgColor)] backdrop-blur-[15px];
  }

  @apply border-ant-color-border border border-solid text-sm;

  .contexify_separator {
    @apply backdrop-blur-0;
  }

  &.contexify_submenu {
    --contexify-menu-minWidth: 100px;
    transition: none;
  }

  .contexify_itemContent {
    @apply rounded-[var(--contexify-menu-radius)];
  }

  @keyframes contexify_quickFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes contexify_quickFadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  &.contexify_willEnter-fade {
    animation: contexify_quickFadeIn 0.06s ease;
  }

  &.contexify_willLeave-fade {
    animation: contexify_quickFadeOut 0.08s ease;
  }
}
