.contexify {
  &[role='menu'] {
    --contexify-menu-bgColor: var(--ant-color-bg-container) FF;
    --contexify-activeItem-color: var(--ant-color-text);
    --contexify-activeItem-bgColor: var(--ant-color-primary-hover);
    --contexify-menu-minWidth: 140px;
    --contexify-menu-padding: var(--ant-padding-xxs);
    --contexify-itemContent-padding: var(--ant-margin-xxs) var(--ant-padding-xxs);
    --contexify-separator-margin: var(--ant-margin-xxs);
    --contexify-menu-shadow: var(--ant-box-shadow-popover-arrow);
    --contexify-item-color: var(--ant-color-text);
    --contexify-zIndex: 9999;
  }

  backdrop-filter: blur(40px);

  @apply text-sm border-ant-color-border border-solid border;

  .contexify_itemContent {
    @apply rounded-[var(--contexify-menu-radius)];
  }

  @keyframes contexify_quickFadeIn {
    from {
      opacity: 0;
      transform: translateY(4px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes contexify_quickFadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  &.contexify_willEnter-fade {
    animation: contexify_quickFadeIn 0.1s ease;
  }

  &.contexify_willLeave-fade {
    animation: contexify_quickFadeOut 0.01s ease;
  }
}
